/*
Author: Adrian Cieplicki
Date: 01/21/2025
*/

@keyframes fade {
    0% {opacity: 0.0}
    25%  {opacity: 0.25}
    50%  {opacity: 0.50}
    75%  {opacity: 0.75}
    100% {opacity: 1.0}
}

@keyframes fade-colour {
    0% {opacity: 0.0}
    25%  {opacity: 0.25}
    50%  {opacity: 0.50}
    75%  {opacity: 0.75}
    100% {opacity: 1.0}
}

.sour-gummy-font {
  font-family: "Sour Gummy", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.outfit-font {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
  }

.funnel-sans-font {
  font-family: "Funnel Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-regular {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
  }

html, body {
    overscroll-behavior: none;
}

#container {
    margin: auto;
}

#header {
    display: flex;
    height: 125px;
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    background-color: rgb(42, 59, 95, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header-logo {
    margin-right: auto;
    display: flex;
    margin-top: 0;
    align-items: center;
}

.header-img {
    width: 82px;
    height: 80px;
}

.header-title {
    font-family: "Chakra Petch", serif;
    font-size: 32px;
    color: rgb(212, 168, 247);
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 70px;
    font-size: 18px;
    font-family: "Funnel Sans", serif; 
}

.header-link {
    color: white;
    padding: 20px;
    text-decoration: none;
    border-radius: 4px;
    /* background-color: rgb(42, 59, 95, 1); */
}

.header-link:hover {
    transition: background-color 0.5s, color 0.5s;
    background-color: rgb(242, 247, 168);
    color: rgb(14, 14, 14);
}

.header-link:active {
    transition: transform 0.2s;
    transform: scale(0.9)
}

.header-body, .home-header-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(67, 42, 95, 0.82), rgba(67, 42, 95, 0.82)), 
    url("images/background.gif");    background-color: rgba(67, 42, 95, 0.98);
    background-size: cover;
    background-attachment: fixed;
}

.title-slide {
    width: 100%;
    padding-top: 340px;
    padding-bottom: 340px;
}

.big-title {
    text-shadow: 0 0 20px white;
}

.even-slide, .odd-slide {
    padding-top: 100px;
    padding-bottom: 100px;
}

.top-slide {
    padding-top: 150px;
}

.odd-slide {
    background-color: rgba(67, 42, 95, 0.5);
    width: 100%;
}

.even-slide {
    background-color: rgba(255,255,255,0.5);
    padding-left: 75px;
}

.showcase-tile {
    background-color: rgba(255,255,255,0.5);
    padding: 50px;
    flex: 1;
    max-width: 35%;
}

.splash-slide {
    background-color: rgba(67, 42, 95, 0.65);
}

.showcase-slide {
    width: 92%;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.analysis-slide {
    width: 75%;
    margin: 0 auto;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.slide-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slide {
    display: flex;
    width: 92%;
    gap: 225px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.title-text {
    color: white;
    width: 100%;
    text-align: center;
}

.odd-slide-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}

.even-slide-text {
    color: rgb(67, 42, 95);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 45%;
}

.showcase-slide-text {
    color: rgb(67, 42, 95);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.splash-slide-text {
    color: white;
}

.slide-title {
    font-size: 70px;
    font-family: "Outfit", serif;
    animation-fill-mode: backwards; /* Sets the element to match the first keyframe before animation */
    animation-name: fade;
    animation-delay: 0.2s;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.analysis-title {
    text-align: center;
}

.slide-info {
    font-size: 20px;
    line-height: 35px;
    font-family: "Outfit", serif;
    animation-fill-mode: backwards;
    animation-delay: 0.2s;
    animation-name: fade;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.odd-slidebutton {
    font-size: 20px;
    font-family: "Funnel Sans", serif;
    color: black;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(252, 194, 69);
}

.odd-slidebutton:hover {
    background-color: rgba(67, 42, 95);
    transition: background-color 0.5s, color 0.5s;
    color: white;
}

.even-slidebutton {
    font-size: 20px;
    font-family: "Funnel Sans", serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(67, 42, 95);
}

.even-slidebutton:hover {
    background-color: rgb(252, 194, 69);
    transition: background-color 0.5s, color 0.5s;
    color: black;
}

.link-button {
    font-size: 20px;
    font-family: "Funnel Sans", serif;
    color: rgba(67, 42, 95);
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: rgba(67, 42, 95);
}

.body-top-img {
    width: 43%;
    height: 100%;
    min-width: 200px;
}

.slide-img {
    min-width: 250px;
}

#splash-img1 {
    width: 40%;
}

#keyboard-img {
    width: 40%;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Funnel Sans", serif;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 30px;
    padding-bottom: 10px;
}

.copyright {
    font-size: 12px;
}

.footer-links {
    display: flex;
    width: 100%;
    font-size: 14px;
    justify-content: center;
}

.footer-link {
    color:rgb(14, 14, 14);
    text-decoration: none;
    margin-left: 6%;
    margin-right: 6%;
}

.footer-link:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 1250px) {
    .nav {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        order: 1;
        gap: 0;
    }

    .home {
        display: none;
    }

    .header-logo {
        margin-top: 40px;
        margin-bottom: 0;
    }
    
    .header-link {
        color: rgb(242, 247, 168);
        border-style: solid;
        border-width: 3px;
        border-color: rgb(242, 247, 168);
        width: 15%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }

    .header-img {
        display: none;
    }

    .header-title {
        font-size: 32px;
        margin: 0;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .slide {
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }

    .body-top-img {
        order: 1;
        width: 65%;
    }

    .odd-slide-text {
        order: 2;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85%;
    }
    
    .even-slide-text {
        align-items: center;
        justify-content: center;
        width: 80%;
    }

    .slide-title {
        text-align: center;
    }

    #splash-img1 {
        width: 50%;
        min-width: 50px;
    }

    .even-slide {
        padding-left: 0px;
    }

    .title-slide {
        padding-top: 120px;
        padding-bottom: 25px;
    }

    #header {
        height: 200px;
        flex-direction: column;
        justify-content: center;
        position: static;
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-bottom-color: rgb(242, 247, 168);
    }

    .header-logo {
        margin-right: 0px;
        order: 2;
    }

    #footer {
        padding-bottom: 0;
    }

    .footer-link {
        width: 40%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        padding: 15px;
        font-size: 12px;
    }

    .footer-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 680px) {
    .slide-info {
        font-size: 15px;
    }

    #header {
        justify-content: flex-start;
    }

    .nav {
        margin-top: 20px;
    }

    .slide-title {
        font-size: 30px;
    }

    .slide-info {
        font-size: 14px;
    }
}

@media only screen and (max-width: 622px) {
    #header {
        height: 160px;
    }

    .nav {
        min-width: 386.4px;
    }

    .header-link {
        font-size: 13px;
    }
}

@media only screen and (max-width: 380px) {
    .header-link {
        padding-left: 1%;
        padding-right: 1%;
        font-size: 10px;
    }
}